<main>
  <div class="p-5 mb-4 bg_static top-0 start-0 ">
    <div class="container py-5 text-center">
      <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="display-6 mt-5 fw-bold">Pas le temps de préparer son repas à l'avance ?</h1>
          <p class="fs-4">Des plats <strong>faits maison</strong>, à un <strong>prix abordable</strong>, et <strong>livrés chez vous</strong> ! Profitez du caractère des plats proposés par Cookadom, en recevant quand vous le souhaitez vos déjeuners de la semaine !</p>
          <%= link_to "Découvrir", dishes_path, class:"btn btn-secondary text-light m-2 btn-lg rounded-6" %>
          <%= link_to "S'inscrire", new_user_registration_path, class:"btn btn-primary m-2 btn-lg rounded-6" unless current_user%>
        </div>
      </div>
    </div>
    <div class="position-absolute bottom-0 start-50 translate-middle-x mb-5 d-none d-md-block"><a class="btn btn-secondary mt-3 btn-lg rounded-6 text-light" href="#quality"><i class="fas fa-arrow-down"></i></a></div>
  </div>
  
  <section class="bg-quality bg-light py-5 px-5 shadow" id="quality">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-xs-12">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag("dish1.png", :alt => "photo de plat", class:"d-block w-100 bg-transparent") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("dish2.png", :alt => "photo de plat", class:"d-block w-100 bg-transparent") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("dish3.png", :alt => "photo de plat", class:"d-block w-100 bg-transparent") %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xs-12 py-5 px-5 mb-3">
          <h2 class="mb-3">Pourquoi<span class="fw-bolder text-primary"> Cookadom</span> ?</h2>
          <p class="lead">Parce qu'un plat est avant tout une histoire racontée par celui ou celle qui le prépare, le caractère fait maison des plats Cookadom vous offre plus qu'une option saine, économique et goûteuse de restauration. Venez retrouver les saveurs de votre enfance grâce aux cuisiniers Cookadom qui, de chez eux, prépareront vos plats préférés avec une authenticité que vous ne pourrez pas retrouver au restaurant.</p>
          <p>En choisissant la date et l'heure de livraison de votre commande, ne soyez plus jamais pris au dépourvu avec Cookadom !</p>
        </div>
      </div>
    </div>
  </section>

  <section id="how-it-work" class="pt-5 mb-5">
    <div class="container mt-5 pb-5">
      <div class="row text-center">
        <h1 class="p-4 text-center">Comment ça marche ?</h1>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <%= image_tag("choice.png", :alt => "illutration choix", class:"img-fluid img-howitworks") %>
          <p class="fw-bolder">Choisissez vos plats<br/>
            <span class="fw-normal">ainsi que la date de livraison</span>
          </p>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <%= image_tag("chef.jpg", :alt => "illutration chef", class:"img-fluid img-howitworks") %>
          <p class="fw-bolder">Un Cook les prépare<br/>
            <span class="fw-normal">le jour de la livraison</span>
          </p>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <%= image_tag("delivery.png", :alt => "illutration livraison", class:"img-fluid img-howitworks") %>
          <p class="fw-bolder">Recevez vos plats<br/>
            <span class="fw-normal">fraîchement préparés</span>
          </p>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <%= image_tag("image_happy_eat.jpg", :alt => "illutration plaisir", class:"img-fluid img-howitworks") %>
          <p class="fw-bolder ">Détendez vous<br/>
            <span class="fw-normal">et profitez !</span>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid">
    <div class="row">
      <div class="p-5 mb-4 bg_section top-0 bg-gradient-cookadom start-0">
        <div class="container py-5 text-center">
          <h1 class="display-5 text-light fw-bold">Commandez, Recevez, Savourez</h1>
          <p class="fs-4 text-light">Choisissez vos plats préferés, livrés chez vous.</p>
        </div>
      </div>
      <div class="bg-divider"></div>
    </div>
  </section>

  <div class="container list-dish pb-5" id="dish">
    <div class="row">
      <% @dishes.each do |dish| %>
          <%= render "dishes/card_index", dish: dish %>
      <% end %>
    </div>
  </div>
</main>

<div class="container-fluid">
  <%= render "layouts/newsletter" %>
</div>

<% content_for :title_page do %>
<title>Cookadom - Welcome</title>
<% end %>