<div class="card flex">
	<div class="card-body">
		<div class="d-flex align-items-center">
			<div class="m-2"> 

				<%= render "avatars/cook", cook: @cook%>

			</div>
			<div class="px-4" >
				<h1 class="card-title"><%= link_to @cook.business_name, cook_path(@cook), class: "text-dark" %></h1>
					<div class=" d-flex justify-content-between">
						<span class=text-muted>
							<%= @cook.rating %>/5 (<%= @cook_votes %>)
							<% if @cook_votes == 0 %>
								<i class="fas fa-star text-muted"></i>
							<% else %>
								<i class="fas fa-star text-primary"></i>
							<% end %>
						</span> 
						<p class="card-text"><%= @cook.user.city.name %></p>
					</div>
			</div>
		</div>
	</div>
</div>