<div class="container d-flex align-items-center">

  <%= form_with(model: @cooks, url: cooks_path, local: true, remote: false, method: :post) do |form| %>
    
    <div class="col-12 mb-2">
      <%= form.label :siren, class:"fs-6 form-label text-muted" %>
      <%= form.text_field :siren, class:"form-control form-control-lg p-3 rounded-4 border-2 border-primary w-100"%>
    </div>

    <div class="col-12 mb-2">
      <%= form.label :business_name, class:"fs-6 form-label text-muted" %>
      <%= form.text_field :business_name, class:"form-control form-control-lg p-3 rounded-4 border-2 border-primary w-100"%>
    </div>

    <div class="col-12 mb-2">
      <%= form.label :legal_status, class:"fs-6 form-label text-muted" %>
      <%= form.text_field :legal_status, class:"form-control form-control-lg p-3 rounded-4 border-2 border-primary w-100"%>
    </div>

    <div class="col-12 mb-2">
      <%= form.label :headquarter, class:"fs-6 form-label text-muted" %>
      <%= form.text_field :headquarter, class:"form-control form-control-lg p-3 rounded-4 border-2 border-primary w-100"%>
    </div>

    <div class="col-12 mb-2">
      <%= form.label :vat_number, class:"fs-6 form-label text-muted" %>
      <%= form.text_field :vat_number, class:"form-control form-control-lg p-3 rounded-4 border-2 border-primary w-100"%>
    </div>

    <div class="col-12 mb-2">
      <%= form.label :commercial_register, class:"fs-6 form-label text-muted" %>
      <%= form.text_field :commercial_register, class:"form-control form-control-lg p-3 rounded-4 border-2 border-primary w-100"%>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

</div>



<%# <%= render "avatar_form", cook: @cook %>
