<section class="container mt-3">
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="card flex">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="m-2"> 

                <%= render "avatars/cook", cook: @cook%>

              </div>
              <div class="px-4" >
                <h1 class="card-title"><%= @cook.business_name %></h1>
                  <div class=" d-flex justify-content-between">
                    <span class=text-muted>
                      <%= @cook.rating %>/5 (<%= @cook_votes %>)
                      <% if @cook_votes == 0 %>
                        <i class="fas fa-star text-muted"></i>
                      <% else %>
                        <i class="fas fa-star text-primary"></i>
                      <% end %>
                    </span> 
                    <p class="card-text"><%= @cook.user.city.name %></p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="my-5">
        <% list_tags(@cook).each do |tags| %>
          <span class="btn btn-tag rounded-x btn-secondary"><%= tags %></span>
        <% end %>
      </div>
      <% if @pinned_dish %>
      <div class="row mt-2">
        <h2 class="">Le plat du Cook</h2>
        <%= render "dishes/card_index", dish: @pinned_dish %>
      </div>
      <% end %>
    </div>

    <div class="row mt-2">
        <h2>Ses plats</h2>
    </div>
    


    <div class="row" >
      <% @cook.dishes.each do |dish| %>
        <%= render "dishes/card_index", dish: dish if dish.available? || dish.pinned? %>
      <% end %>
    </div>
    <div class="row">  
      <% @cook.dishes.each do |dish| %>
        <%= render "dishes/card_index", dish: dish if dish.unavailable? %>
      <% end %>
    </div>
</section>

