<div class="container-fluid row d-flex">
  <div class="col-6">
    <h1>VALIDES</h1>
    <% @valid_cooks.each do |cook|%>

      <p>user id: <%= cook.user_id %></p>
      <p>business name: <%= cook.business_name %></p>
      <p>status: <%= cook.status %></p>
      <p><%= link_to "Update Status", admin_cook_path(cook.id), method: :put, class: "btn btn-info" %></p>

      <p><%= link_to "Delete Cook", admin_cook_path(cook.id), method: :delete, class: "btn btn-danger" %></p>
    <% end %>
  </div>
  <div class="col-6 ">
    <h1>NON VALIDES</h1>
    <% @invalid_cooks.each do |cook|%>

      <p>user id: <%= cook.user_id %></p>
      <p>business name: <%= cook.business_name %></p>
      <p>status: <%= cook.status %></p>
      <p><%= link_to "Update Status", admin_cook_path(cook.id), method: :put, class: "btn btn-info" %></p>

      <p><%= link_to "Delete Cook", admin_cook_path(cook.id), method: :delete, class: "btn btn-danger" %></p>
    <% end %>
  </div>
</div>