<div class="container p-5">
  <%= render "cooks/avatar_form", cook: current_user.cook if current_user.status_cook? %>
</div>
<div class="mt-5 container d-flex justify-content-center">
  <div class="row">
    <div class="col-12 col-lg-6 me-5">
      <h3 class="text-primary mt-3"> Informations du profil: 
      <div class="d-flex ">
        
        <%= form_with(model: @users, url: user_path(current_user), method: :put, local: true, class: "h-100 w-100 d-flex flex-column justify-content-evenly") do |form| %>
          
          <div class="d-flex justify-content-between">
            <div class="col-5">
              <%= form.label :Prénom, class: "fs-6 mt-4 mb-3 text-muted" %><br />
              <%= form.text_field :first_name, class:"form-control form-control-lg p-3 rounded-4 border-2 border-primary", value: current_user.first_name %>
            </div>
            <div class="col-5">
              <%= form.label :Nom, class: "fs-6 mt-4 mb-3 text-muted" %>
              <%= form.text_field :last_name, class:"form-control form-control-lg p-3 rounded-4 border-2 border-primary", value: current_user.last_name %>
            </div>
          </div>

          <div class="d-flex justify-content-between">
            <div class="col-5">
              <%= form.label :Email, class: "fs-6 mt-4 mb-3 text-muted" %>
              <%= form.email_field :email, class:"form-control form-control-lg p-3 rounded-4 border-2 border-primary", value: current_user.email %>
            </div>
            <div class="col-5">
              <%= form.label :Téléphone, class: "fs-6 mt-4 mb-3 text-muted" %>
              <%= form.text_field :phone, class:"form-control form-control-lg p-3 rounded-4 border-2 border-primary", value: current_user.phone%>
            </div>
          </div>
          <br />
          <br />
          <br />
          <br />
          <br />
        
          <div class=" mt-5 d-flex justify-content-between ">
            <div>
              <%= form.submit "Valider", class: "btn btn-primary" %>
              <%= link_to "Changer le mot de passe", edit_user_password_path,  class: "btn btn-outline-primary me-5" %>
            </div>
            <div>
              <%= link_to "Effacer le profil",  user_path(current_user.id), method: :delete, class: "btn btn-outline-danger mb-5 border-0"%>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script>
      $(document).ready(function(){
        $("#adresse_auto").keyup(function(){
          $("#address_name_select")[0].innerHTML =""; 
          var text = this.value
          if (text.length >= 2 ) {
            $.ajax({
              url: 'https://api-adresse.data.gouv.fr/search/?q='+text+'&type=housenumber&autocomplete=1',
              type: "get",
              success: function(data) {var i=0
                data.features.forEach(element => {
                  i++
                  $("#address_name_select")[0].innerHTML += '<option class="option-'+i+'" value="'+element.properties.label+'">'+element.properties.label+'</option>';});
              }
            });
          }
        });
      });
    
    </script>
  

    <div class="col-12 col-lg-5 row ps-5 border-start border-2 border-primary d-flex justify-content-center">
      <% if current_user.addresses.any? %>
        <h3 class="text-primary py-3 border-bottom border-primary"> Vos adresses: </h3>
        <% current_user.addresses.each do |address| %>
          <%city = City.find(address.city_id)%>
          <div class="col-12 py-3  border-bottom border-primary">
            <div class="text-muted mb-2">Nom de l'adresse:</div>
            <p><%= address.name %></p>
            <div class="text-muted mb-2">Détails de l'adresse : </div>
            <p><%= "#{address.content} #{city.zip_code} #{city.name}" %></p>
            <div class="text-muted mb-2"> Informations supplémentaires: </div>
            <p><%= "#{address.additional_info}" %></p>
            <p><%= link_to "Supprimer l'adresse", user_address_path(current_user.id, address.id), method: :delete, class:"btn btn-danger"%></p>
          </div>
        <% end %>
      <% end %>
      <h3 class="text-primary mt-3"> Ajouter une adresse de livraison:</h3>
      <div class="col-12">
        <%= form_with(model: @address, url: user_addresses_path(current_user.id), local: true ) do |form| %>

          <div>
            <%= form.label "Nom de l'adresse", class: "fs-6 mt-4 mb-3 text-muted"%><br />
            <%= form.text_field :name, class:"form-control p-3 rounded-4 border-2 border-primary", required: true%>
          </div>
          <div>
            <%= form.label "Rechercher votre adresse", class: "fs-6 mt-4 mb-3 text-muted"%><br />
            <%= form.text_field :search, class:"form-control p-3 rounded-4 border-2 border-primary", id:"adresse_auto", autocomplete:"off", list:"datalistOptions", required: true %>
          </div>
          <div>
            <%= form.label "Choix de l'adresse", class: "fs-6 mt-4 mb-3 text-muted"%><br />
            <%= form.select :name_select, [["Votre Adresse", ""]], {},  {required: true, class:"form-select form-select-lg p-3 rounded-4 border-2 border-primary"}  %>
          </div>
          <div>
            <%= form.label "Informations supplémentaires", class: "fs-6 mt-4 mb-3 text-muted" %><br />
            <%= form.text_field :additional_info, class:"form-control p-3 rounded-4 border-2 border-primary" %>
          </div>

          <div class="d-flex-center">
            <%=  form.submit "Valider", class:"btn btn-primary mt-5 w-25"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
  <br /><br /><br />
  <% content_for :title_page do %>
<title>Cookadom - Profil</title>
<% end %>