<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 bg-secondary">
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="container my-5 mx-4">
          <h3>Changez votre mot de passe</h3>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <%= f.hidden_field :reset_password_token %>

            <div class="field col-10 col-md-6 border-top">
              <%= f.label :Nouveau_mot_de_passe, class:"fs-6 mt-4 mb-3 text-muted" %>
              <%= f.password_field :password, autocomplete: "Nouveau mot de passe", class:"form-control form-control-lg p-3 rounded-4 border-2 border-primary" %>
            </div>

            <div class="field col-10 col-md-6 border-top">
              <%= f.label :Confirmation_du_nouveau_mot_de_passe, class:"fs-6 mt-4 mb-3 text-muted" %>
              <%= f.password_field :password_confirmation, autocomplete: "Confirmer le novueau mot de passe", class:"form-control form-control-lg p-3 rounded-4 border-2 border-primary" %>
            </div>

            <div class="actions">
              <%= f.submit "Changer de mot de passe", class:"actions btn btn-primary col-10 col-md-6 mt-3 p-3 rounded-6" %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<title>Cookadom - S'enregistrer</title>