
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 bg-secondary">
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="container my-5 mx-4">
          <h3>Se Connecter</h3>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field col-10 col-md-6 border-top">
              <%= f.label :email, class:"fs-6 mt-4 mb-3 text-muted" %><br/>
              <%= f.email_field :email, autofocus: true, autocomplete: "Adresse e-mail", class:"form-control form-control-lg p-3 rounded-4 border-2 border-primary" %>
            </div>

            <div class="field col-10 col-md-6 border-top">
              <%= f.label :Mot_de_passe, class:"fs-6 mt-4 mb-3 text-muted" %>
              <%= f.password_field :password, autocomplete: "mot de passe", class:"form-control form-control-lg p-3 rounded-4 border-2 border-primary" %>
            </div>
            <div class="actions">
              <%= f.submit "Confirmer la connexion", class:"actions btn btn-primary col-10 col-md-6 mt-3 p-3 rounded-6" %>
            </div>
            <div class="mt-4 mx-1">
                Vous n'avez pas de compte? Cliquez ici : <%= link_to "S'inscrire", new_user_registration_path %><br/>
                Vous avez oublié votre mot de passe? Cliquez ici : <%= link_to "Nouveau mot de passe", new_user_password_path %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<% content_for :title_page do %>
<title>Cookadom - Se connecter</title>
<% end %>