<div class="border-0 overflow-hidden rounded-top col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-3 ">
  <!-- card head -->
  <%= link_to dish_path(dish) do %>
    <div class="position-relative ">
      <% if dish.photo.attached? %>
        <%= image_tag dish.photo.variant(resize: "400x300^", crop: '400x300+0+0') , alt: dish.name, class: "rounded-top img-fluid" %>
        <% else %>
        <img class="img-fluid rounded-top " src="https://p8.storage.canalblog.com/83/02/467618/31300273.jpg"> 
      <% end %>
      <!-- tags -->
      <div class="card-tag position-absolute bottom-0 p-2">
        <% dish.tags.each do |tag| %>
          <%= link_to tag.label, root_path, class: "btn btn-tag rounded-x btn-secondary" %>
        <% end %>
      </div>
    </div>
  <% end %>
  <!-- card body -->
  <div class="card-body p-2">     
    <h6 class="card-title"> <%= dish.name %></h6>
    <div class=" d-flex justify-content-between align-self-baseline">
      <span class="text-muted fs-8"><i class="fas fa-star text-primary fs-9"></i> 4.8</span>
      <p class="card-text"><%= dish.price_euro %></p>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <% if current_user %>
        <%= link_to "Ajouter au panier", order_dishes_path(dish_id: dish.id), method: :post, class: "btn btn-primary rounded-x fs-9" %>
      <% else %>
        <%= link_to "Ajouter au panier", new_user_registration_path, class: "btn btn-primary rounded-x fs-9" %>
      <% end %>
    </div>
  </div>
</div>
