<div class="border-0 overflow-hidden rounded-top col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-3 ">
  <%= link_to dish_path(dish), class:"#{'disabled' if dish.unavailable? }" do %>
    <div class="position-relative <%='unavailable avoid-clicks' if dish.unavailable?%>">
      
      <%= render "dishes/photo", dish: dish, size: "550x330^"%>
      
      <% if current_user && !is_a_favorit_dish?(dish)%>
        <div class="d-flex align-items-center justify-content-center p-2 bg-white rounded-circle position-absolute top-0 end-0 m-2">
            <%= link_to favorits_path(dish_id: dish.id), method: :post do %>
              <i class="fas fa-heart text-primary fs-3"></i>
            <% end %>
        </div>
      <% elsif  current_user && is_a_favorit_dish?(dish)  %>
        <div class="d-flex align-items-center justify-content-center p-2 bg-secondary rounded-circle position-absolute top-0 end-0 m-2">
          <%= link_to favorit_path(dish.id), method: :delete do %>
            <i class="fas fa-heart text-primary fs-3"></i>
          <% end %>
        </div>
      <% end %>

      <div class="card-tag position-absolute bottom-0 p-2">
        <% dish.tags.each do |tag| %>
          <%= link_to tag.label, root_path, class: "btn btn-tag rounded-x btn-secondary" %>
        <% end %>
      </div>
    </div>
  <% end %>
  
  <!-- card body -->
  <div class="card-body p-2 bg-white rounded-2 ">     
    <h6 class="card-title"> <%= dish.name %></h6>
    <%='Non disponible' if dish.unavailable?%>
    <div class=" d-flex justify-content-between align-self-baseline">
      <span class="text-muted fs-8">
        <% if dish.ratings.any? %>
        <i class="fas fa-star text-primary fs-9"></i> <%= dish.rating %>
        <% else %>
        <i class="fas fa-star text-muted fs-9"></i> 0
        <% end %>
        <%= "/ 5 (#{dish.count_dish_total_number_of_votes})" %>
      </span>
      <p class="card-text"><%= dish.price_euro %></p>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <% if current_user %>
        <%= link_to "Ajouter au panier", order_dishes_path(dish_id: dish.id, quantity: 1), method: :post, remote:true, class: "btn btn-primary rounded-x fs-9 #{'disabled' if dish.unavailable?}" %>
      <% else %>
        <%= link_to "Ajouter au panier", new_user_registration_path, remote:true, class: "btn btn-primary rounded-x fs-9 #{'disabled' if dish.unavailable?}" %>
      <% end %>
    </div>
  </div>
</div>
