 <div class="container">
    <div class="col-12">

      <h2 class="text-primary border-bottom border-1 p-3 border-primary"> Commentaires: </h1>
      <% @dish.comments.each do |comment| %>
        <% user = User.find(comment.user_id) %>
        <div class="py-5 border-bottom">
          <div class="col mb-4 text-secondary">
            <%= user.email %>
          </div class="col">
            <%= comment.content %>
          </div>
        </div>
      <% end %>
      <% if can_comment?(current_user, @dish) %>
      <div class="col">
        <%= form_with(model: @comment, url: comments_path(params[:id]), local: true, method: :post) do |form| %>
          <div class="container-fluid">
            <div class="row">
              <div class="col-8 mb-2">
                <%= form.label :Nouveau_commentaire, class:"fs-6 form-label text-muted"%>:
                <%= form.text_area :content, class:"form-control form-control-lg p-3 rounded-4 border-2 border-primary" %>
              </div>
            </div>
            <div class="row">
              <div class="col-12 mt-3">
                <%= form.submit "Commenter", class:"btn btn-primary" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>