<h1>Dishes index</h1>

<%= link_to :nouveau, new_dish_path, class: "btn btn-primary"%>
<% @dishes.each do |dish| %>
<div class="container col-8 offset-2">
  <p>name: <%= link_to dish.name, dish_path(dish) %></p>
  <p>description: <%= dish.description %></p>
  <p>price: <%= dish.price %></p>
  <p>ingredients: <%= dish.ingredients %></p>
  <p>cook_id: <%= dish.cook_id %></p>
  <%= link_to :edit, edit_dish_path(dish), class: "btn btn-info"%>
  <%= link_to :delete, dish_path(dish), method: :delete, class: "btn btn-danger"%>
</div>
<% end %>