<h1>Dishes index</h1>
<% @dishes.each do |dish| %>
<div class="container col-8 offset-2">
  <p>name: <%= dish.name %></p>
  <p>description: <%= dish.description %></p>
  <p>price: <%= dish.price %></p>
  <p>ingredients: <%= dish.ingredients %></p>
  <p>cook_id: <%= dish.cook_id %></p>
</div>
<% end %>