<section class="container">
  
  <%= render 'search_bar', dishes_cities: @dishes_cities %>

  <%= render 'carousel' %>

  <div class="row" id="dishes">
    <h2><%= "Voici les autres plats proposés par votre Cook" if current_user && @cart.dishes.any? %></h2>
    <% if @dishes.any? %>
      <% @dishes.each do |dish| %>
        <%= render 'card_index', dish: dish %>
      <% end %>
    <% else %>
      <h2 class="text-center text-primary">
        <%= params[:search] ?  "Aucun résultat ..." : "Il n'y a pas encore de Cooks dans votre ville ..." %>
      </h2>
    <% end %>
  </div>
</section>
    <% content_for :title_page do %>
      <title>Cookadom - Vos plats</title>
    <% end %>
