<br />
<br />
<br />
<section class="container p-5">
  
  <div class="grid-2  position-relative ">
    <div class="section-bg bg-primary rounded-5"></div>
      <% if @dish.photo.attached? %>
        <%= image_tag @dish.photo.variant(resize: "400x300^", crop: '400x300+0+0') , alt: @dish.name, class: "rounded-left-5" %>
        <% else %>
        <img class="img-fluid rounded-left-5 " src="https://p8.storage.canalblog.com/83/02/467618/31300273.jpg"> 
      <% end %>
  
    <div class="card-body bg-white rounded-right-5 text-center">
      <h2 class="card-title text-primary border-bottom border-1 p-3 border-primary"><%= @dish.name %></h2>
      <p class="mt-4"><%= @dish.description %></p>
       <p class="mt-4"><% if @dish.availability? %>
            <p>Disponible</p>
            <% else %>
            <p>Indisponible</p>
            <% end %>
       </p>
    </div>
  </div>
  
  <br />
  <br />
  
  <div class="grid-2 gap-3 p-5">
    <div class="position-relative bg-white rounded-5 p-2 d-flex-center me-3 flex-column">
      <div class="section-bg-2 rounded-5 bg-secondary"></div>
      <h2 class="text-secondary border-bottom border-1 border-secondary p-3"> Ingrédients </h2>
      <p class="p-3"><%= @dish.ingredients %></p>
    </div>

    <div class="bg-white rounded-5 d-flex flex-column ms-3 px-5 justify-content-evenly">
      <div class="d-flex justify-content-around align-items-center">
        <%= link_to cook_path(@dish.cook) do %>
          <%= render "avatars/cook", cook: @dish.cook %>
        <% end %>
        <p class="text-center text-dark fs-6"> préparé par <br/><%= link_to @dish.cook.user.first_name, cook_path(@dish.cook) , class: "text-primary fs-3 fw-bold" %></p>
      </div>
      
      <div >
        <p class="px-3 py-2 fs-2 fw-bold text-center"><%= @dish.price_euro %></p>
         <%= form_with model: @order_dishes, url: order_dishes_path(dish_id: @dish.id), class: "d-flex justify-content-evenly" do |form| %>

          <%# <a data-remote="true" rel="nofollow" data-method="patch" href="/cart_items/52?sign=minus">
            <i class="fas fa-minus line-h-quantity fs-4 text-white bg-primary p-1 rounded-circle"></i>
          </a>   %>
          
          <%= form.number_field :quantity , value: "1", class: "text-center col-2 fs-4" %>
          
          <%# <a data-remote="true" rel="nofollow" data-method="patch" href="/cart_items/52?sign=plus">
            <i class="fas fa-plus fs-4 text-white line-h-quantity bg-primary p-1 rounded-circle"></i>
          </a> %>

          <%= form.submit "Ajouter au panier" , class: "btn btn-primary btn-block text-uppercase"%>
          

        <% end %>
      </div>
    

    </div>
  </div>
  <%= link_to "Rate", dish_ratings_path(@dish, value: 3) , method: :post, class: "btn btn-primary" %>
</section>

