
<div class="jumbotron jumbotron-fluid bg-stripe-success p-5 d-flex justify-content-center juf row text-center">
  <h2 class="col-12 text-primary ">Commande payée avec succès !</h2>
  <p class="col-12 text-secondary ">Il ne vous reste plus qu'à attendre vos plats chez vous !</p>

  <div class="container row my-5 d-flex justify-content-center ">
    <h1 class="col-12 text-primary m-5 text-center"> Merci ! </h1>
    <p class="col-4 text-start">Voici le détail de votre commande:</p>
  </div>

  <div class="container col-3 mb-3">
    <% current_user.carts.where(status: 3).last.order_dishes.each do |order_dish| %>
    <% dish = order_dish.dish %>
      <div class="row g-0 my-2 position-relative shadow-lg shadow-lg">
        <img class="col-4 img-fluid rounded-4 " src="https://p8.storage.canalblog.com/83/02/467618/31300273.jpg" alt="...">
        <div class="col-8 d-flex flex-column justify-content-around">
          <h6 class="card-title text-center col-9 ps-1  fs-6"><%= dish.name %> x <%= order_dish.quantity %></h6>
          <div class="row add-delete px-3">
            <div class="col d-flex-center">
              <div class="fw-bold fs-7"><%= dish.price %>€</div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="container col-12 my-5 d-flex justify-content-center flex-column">
    <p> Le montant total de la commande est de: <%=number_to_currency(@payment_intent.amount_received / 100.0, unit: '€', separator: ',', delimiter: "", format: "%n %u")%>.</p>
    <p>Cliquez <%= link_to "ici", user_path(current_user.id) %> pour voir l'historique de vos commandes.</p>
  </div>
 </div>

</div>