    <div class="col-12 col-lg-3 my-4">
      <h2 class="text-primary"> Panier validé :</h2>
      <% if carts_post_validation %>
        <% carts_post_validation.each do |cart| %>
          <% cart.order_dishes.each do |order_dish| %>

            <%= render "card_dishes", order_dish: order_dish, cart: cart%>

          <% end %>

          <% if cart.total_price != 0 %>
            <h5 class="my-3 text-primary"> Total: <%= cart.total_price_euro %></h5>
            <p>Cuisiné par <%= link_to cart.cook.name, cook_path(cart.cook)%></p>
            <% if cart.delivery_date %>
              <p class="my-3 text-muted">Livraison : <%= cart.delivery_date.strftime("%m/%d/%Y à %I:%M ")%> </p>
            <% end %>
          <% end%>

          <%= link_to "Payer", checkout_create_path, method: :post, class:"btn btn-primary col-6 offset-3", remote: true%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>