<div class="dish-method-block">
 <section class="container">
<div class="row">
  <% @dishes.each do |dish|%>
    <div class="col-sm-12 col-md-5 col-lg-6">

<div class="row g-0 mt-3 position-relative shadow-sm shadow-sm border-top">

<div class="d-grid gap-2 d-md-block">
  <div id="atachement-photos">
    <% if dish.photo.attached? %>
        <%=image_tag(dish.photo.variant(resize: "100x100^", crop: '100x100+0+0'), alt: dish.name)%>
    <% else %>
        <small>Aucune photo.</small>
    <% end %>
  </div>
  <div>
    <%= dish.name %>
    <%= dish.description %>
    <%= dish.price_euro %>
  </div>
  <div>
    <%= link_to "Delete Dish", cook_dish_path(dish.id), method: :delete, class: "btn mx-2 btn-danger" %>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-<%= dish.id %>">editer</button>
  </div>
</div>

       <!-- Modal -->
      <div class="modal fade" id="modal-<%= dish.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editer <%=dish.name%></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid my-2">
                <%= render "edit_form", dish: dish %>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
</section>
</div>