<section class="container bg-light dish-method-block">
  <div class="row">
    <% @dishes.each do |dish|%>
      <div class="col-md-12 col-sm-12 col-lg-6 col-xl-3 m-1">
        <div class="mt-5 shadow-sm shadow-sm row">
          <div class="col-md-12 col-sm-12 col-lg-4 ">
            <div id="atachement-photos" class="my-1 rounded img-fluid">
              <% if dish.photo.attached? %>
                <div class="col">
                  <%= render "dishes/photo", dish: dish%>
                </div>
              <% else %>
                <small>Aucune photo.</small>
              <% end %>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-lg-8 px-5">
            <p class="card-title" ><%= dish.name %></p>
            <span class="card-title fw-light" ><%= dish.status %></p>

            <div class="">
              <p class="text-muted pe-3"><%= dish.price_euro %></p>
            </div>
            <div class="mb-2">
              <%= link_to "supprimer", cook_dish_path(dish.id), method: :delete, class: "btn btn-sm btn-danger" %>
              <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modal-<%= dish.id %>">editer</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modal-<%= dish.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editer <%=dish.name%></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid my-2">
                <%= render "edit_form", dish: dish %>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
