<%= form_with(model: dish, url: cook_dishes_path, local: true, remote: false, method: :post) do |form| %>
    <% if dish.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(dish.errors.count, "error") %> Impossible de valider:</h2>
          <ul>
          <% dish.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="container-fluid ">
        <div class="row d-flex justify-content-center">
          <div class="col-12 mb-2">
            <%= form.label :Nom_du_plat, class:"fs-6 form-label text-muted"%>
            <%= form.text_field :name, class:"form-control form-control-lg p-3 rounded-4 border-2 border-primary", placeholder: dish.name %>
          </div>
          <div class="col-12 mb-2">
            <%= form.label :Prix, class:"fs-6 form-label text-muted" %>
            <%= form.text_field :price, class:"col-1 form-control form-control-lg py-3 px-2 rounded-4 border-2 border-primary", placeholder: dish.price%>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-2">
            <%= form.label :Description, class:"fs-6 form-label text-muted"%>
            <%= form.text_area :description, class:"form-control form-control-lg p-3 rounded-4 border-2 border-primary", placeholder: dish.description %>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-2">
            <%= form.label :Ingrédients, class:"fs-6 form-label text-muted"%>
            <%= form.text_field :ingredients, class:"form-control form-control-lg p-3 rounded-4 border-2 border-primary", placeholder: dish.ingredients %>
          </div> 
        </div>
        <div class="row">
          <%= form.label :Catégories, class:"fs-6 form-label text-muted"%>
          <span class="fs-9 d-none" id="checkbox_max">3 categories maximum</span>
          <div id="checkbox" class="row">
            <%= form.collection_check_boxes(:tags, Tag.all, :id, :label, :multiple => true ) do |b| %>
              <div class="col-md-6 col-sm-12 col-gl-4 fs-8 form-check">
                <%= b.check_box %>
                <%= b.label %>
              </div>
            <% end %>
        </div>
       </div>  
      <div class="row">
        <div class="col-12 mt-3">
          <%= form.submit "Valider", class:"btn btn-primary" %>
        </div>
      </div>
    </div>

  <%end%>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7/jquery.min.js" integrity="sha512-Pqx0ZVocHCSzTLK4pm0GhccHtOT6fmZz+tqfYHV/llI60gB9sr9jkiqrqSEwFJIrzpcZEHPJjsq4GcC731UNXg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
          document.addEventListener("DOMContentLoaded", (event) => {
            $('input[type=checkbox]').change(function(e){
              if ($('input[type=checkbox]:checked').length > 3) {
                $(this).prop('checked', false);
                $('#checkbox_max').removeClass('d-none');
                $('#checkbox_max').addClass('text-danger', 'fw-bold');
              }
            })
          });
        </script>