


<div class="container border my-5">    
    <% @dishes.each do |dish|%>

    <div class="row border-bottom">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="container my-2">
          <h1 class="my-4"><%= dish.name %><%= link_to "Delete Dish", cook_dish_path(dish.id), method: :delete, class: "btn mx-2 btn-danger" %></h1> 
          <p>description: <%= dish.description %></p> 
          <p>price: <%= dish.price %></p>
          <p>ingredients: <%= dish.ingredients %></p>  
          <div class="container"><%= render "photo_form", dish: dish %></div>
          <div class="container">
            <%= dish.status_fr %>
            <%= form_with model: dish, url: cook_dish_path(dish),local: true, method: :put do |form| %>
              <%= form.radio_button :status, :disable %>
              <%= form.label :status, :Désactivé %><br />
              
              <%= form.radio_button :status, :unavailable %>
              <%= form.label :status, :Indisponible %><br />

              <%= form.radio_button :status, :available %>
              <%= form.label :status, :Disponible %><br />

              <%= form.radio_button :status, :pinned %>
              <%= form.label :status, "Épinglé" %><br />

              <%= form.submit :Valider %>
            <% end %>
          </div>

        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-6 border-start ">
        <h1 class="my-4 text-center">Editer votre plat</h1>
        <div class="container-fluid my-2"><%= render "edit_form", dish: dish %></div>
      </div>
    </div>

    <% end %>
</div>


<div class="container d-flex justify-content-center">
  <div class="col-8">
      <h1>NEW</h1>
      <%= render "new_form", dish: @dish %>
  </div>
</div>

<h1 class="text-center">COMMANDES</h1>

<div class="container-fluid d-flex justify-content-around">
  <div class="row w-100 h-100">

    <div class="col-4 border">
      <h2>En attente de validation</h2>
      <% @carts.each do |cart|%>
        <% if cart.status == "validation" %>
        <div class="border border-primary m-1 p-2">
          <% OrderDish.where(cart_id: cart.id).each do |order_dish| %>
            <% dish = Dish.find_by(id: order_dish.dish_id) %>
            <p>Plat: <%= dish.name %></p>
            <p>Quantité: <%= order_dish.quantity %></p>
            <% address = Address.find_by(user_id: User.find_by(id: cart.user_id).id) %>
            <p>Adresse: <%= address.name %>: <%= address.street_number %> <%= address.street_type %> <%= address.street_name %></p>
            <p>Informations complémentaires: <%= address.additional_info %></p>
          <% end %>
          <%= link_to "Valider la Commande", cook_cart_path(cart.id), method: :put, class: "btn btn-success" %>
          <%= link_to "Refuser la Commande", cook_cart_path(cart.id), method: :delete, class: "btn btn-success" %>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-4 border">
      <h2>Validés</h2>
      <% @carts.each do |cart|%>
        <% if cart.status == "post_validation" %>
        <div class="border border-primary m-1 p-2">
          <% OrderDish.where(cart_id: cart.id).each do |order_dish| %>
            <% dish = Dish.find_by(id: order_dish.dish_id) %>
            <p>Plat: <%= dish.name %></p>
            <p>Quantité: <%= order_dish.quantity %></p>
            <% address = Address.find_by(user_id: User.find_by(id: cart.user_id).id) %>
            <p>Adresse: <%= address.name %>: <%= address.street_number %> <%= address.street_type %> <%= address.street_name %></p>
            <p>Informations complémentaires: <%= address.additional_info %></p>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-4 border">
      <h2>Payés</h2>
      <% @carts.each do |cart|%>
        <% if cart.status == "paid" %>
        <div class="border border-primary m-1 p-2">
          <% OrderDish.where(cart_id: cart.id).each do |order_dish| %>
            <% dish = Dish.find_by(id: order_dish.dish_id) %>
            <p>Plat: <%= dish.name %></p>
            <p>Quantité: <%= order_dish.quantity %></p>
            <% address = Address.find_by(user_id: User.find_by(id: cart.user_id).id) %>
            <p>Adresse: <%= address.name %>: <%= address.street_number %> <%= address.street_type %> <%= address.street_name %></p>
            <p>Informations complémentaires: <%= address.additional_info %></p>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>



