<div class="container-fluid vh-90 bg-light">
  <div class="row h-100">
    <div class="col-2 border-end border-bottom h-100 bg-white">
      <div class="d-flex h-50 flex-column align-items-center justify-content-center">
        <div class="btn border border-active border-command w-100 py-3">
          <%= link_to cook_dishes_path(dashboard_method: 1), remote: :true, class: "d-inline-block w-100 h-100" do %>
            <i class="fas fa-clipboard-list"></i>
            <span >Mes Commandes</span>
          <% end %>
        </div>
        <div class="btn w-100 py-3 border-dish">
          <%= link_to cook_dishes_path(dashboard_method: 2), remote: :true, class: "d-inline-block w-100 h-100" do %>
            <i class="fas fa-utensils"></i>
            <span >Mes Plats</span>
          <% end %>
        </div>
        <div class="btn w-100 py-3 border-stat">
          <%= link_to cook_dishes_path(dashboard_method: 3), remote: :true, class: "d-inline-block w-100 h-100" do %>
            <i class="fas fa-chart-line"></i>
            <span >Statistiques</span>
          <% end %>
        </div>
      </div>
      <div class="d-flex h-50 flex-column align-items-center justify-content-end">
        <div class="w-100 py-3">
          <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt"></i>
          <span >Logout</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-10 h-100 bg-light right-column-block overflow-auto">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end bg-light mt-3">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Ajouter un nouveau plat</button>
      </div>
      <!-- Modal New dish -->
      <div class="modal  fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Nouveau plat</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="col-8">
                <h1>Nouveau plat</h1>
                <%=render "new_form", dish: @dish %>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <%= render 'command_method'%>
    </div>
  </div>
</div>
<% content_for :title_page do %>
<title>Cookadom - Dashboard</title>
<% end %>