<div class="cook-method-block">
  <% @cooks.each do |cook|%>
  <div class="d-flex w-100 flex-column align-items-center">
    <div class="w-100 d-flex flex-row p-2 pt-3 my-1 bg-white shadow-sm justify-content-around align-items-center">
      <div>
      <p>Id Utilisateur: <%= cook.user_id %></p>
      <p>Nom: <%= cook.business_name %></p>
      <p>Status: <%= cook.status %></p>
      </div>
      <%= link_to admin_cook_path(cook.id), method: :delete, class: "btn btn-danger" do %>
        <i class="fas fa-times"></i>
      <% end %>
    </div>
    <div class="w-100">
      <div class="accordion accordion-flush mb-5 shadow-sm" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id=<%="flush-#{cook.id}"%>>
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target=<%="#flush-collapse#{cook.id}"%> aria-expanded="false" aria-controls=<%="flush-#{cook.id}"%>>
              <h2 class="text-center  col">Ses plats</h2>
            </button>
          </h2>
          <div id=<%="flush-collapse#{cook.id}"%> class="accordion-collapse collapse" aria-labelledby=<%="flush-#{cook.id}"%> data-bs-parent="#accordionFlushExample" style="">
            <div class="accordion-body">
                <!-- Item start -->
              <% cook.dishes.each do |dish|%>
              <div class="text-center mb-3 row d-flex align-items-center">
                <div class="col-2">
                  <%= render "dishes/photo", dish: dish, size: "550x330^"%>
                </div>
                <p class=" mb-0 col-2 "><%= dish.name %></p>
                <p class=" mb-0 col-5 "><%= dish.price %>€</p>
                <p class=" mb-0 col-1 "><%= dish.status %></p>
                <div class="col-1 grid-2 gap-1">
                  <%= link_to admin_admin_dish_path(dish.id), method: :delete, class: "btn btn-danger" do %>
                    <i class="fas fa-times"></i>
                  <% end %>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>