  <nav class="navbar navbar-expand-lg  navbar-light navbar-light bg-light sticky-top " id="nav">
        <div class="container">
            <%= link_to  root_path, class: "navbar-brand fw-bolder text-primary d-none d-lg-block" do %>
              <%= image_tag "logo.svg", alt: :logo, width: 50 %><span class="fw-bolder text-primary ms-1">COOKADOM</span>
            <% end %>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>

            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Commander", dishes_path, class:"nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "cook#edit", edit_cook_path(current_user.cooks.first), class:"nav-link" %>
                    </li>           
                </ul>
            </div>
            <div class="nav-item dropdown">
                <a class="dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user-circle fa-lg nav-link text-dark px-0"></i>
                </a>
                <ul class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
                    <li>
                        <%= link_to "Profil", edit_user_path(current_user.id), class:"dropdown-item" %>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <%= link_to "Se déconnecter", destroy_user_session_path, class:"dropdown-item", method: :delete  %>
                    </li>
            </div>
            <a class="" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fas fa-shopping-cart fa-lg nav-link text-dark"></i></a>
        </div>
    </nav>

    <!-- CART SIDEBAR -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Offcanvas right</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            ...
        </div>
    </div>