  <nav class="navbar navbar-expand-lg  navbar-light navbar-light bg-light sticky-top shadow-sm" id="nav">
        <div class="container">
            <% if current_user.cooks.any?%>
                <div class="pe-3 fs-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" aria-controls="offcanvasLeft">
                    <i class="fas fa-bars"></i>
                </div>
            <% end %>

            <%= link_to  root_path, class: "navbar-brand fw-bolder text-primary d-none d-lg-block" do %>
              <%= image_tag "logo.svg", alt: :logo, width: 50 %><span class="fw-bolder text-primary ms-1">COOKADOM</span>
            <% end %>

            <% if current_user.status_user?%>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>
            <% end %>

            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <%= link_to :Accueil,root_path,  class: "nav-link active", aria_current: "page" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Les plats", dishes_path, class:"nav-link" %>
                    </li>       
                    <% unless current_user.status_cook? %>
                        <li class="nav-item">
                            <%= link_to "Devenir un Cook", new_cook_path, class:"nav-link" %>
                        </li>  
                    <% end %>
                </ul>
            </div>

            <div class="nav-item dropdown">
                <a class="dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user-circle fa-lg nav-link text-dark px-0"></i>
                </a>
                <ul class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
                    <li>
                        <%= link_to "Profil", edit_user_path(current_user.id), class:"dropdown-item" %>
                    </li>
                    <li>
                        <%= link_to "Mes commandes", user_path(current_user.id), class:"dropdown-item" %>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <%= link_to "Se déconnecter", destroy_user_session_path, class:"dropdown-item", method: :delete  %>
                    </li>
                </ul>
            </div>

        <a class="" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fas fa-shopping-cart fa-lg nav-link text-dark"></i></a>
    </div>
  </nav>

    <!-- CART SIDEBAR -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Panier</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="container">
    <% current_user.carts.last.order_dishes.each do |order_dish| %>
    <% dish = order_dish.dish %>
      <div class="row g-0 my-2 position-relative shadow-lg shadow-lg">
        <img class="col-4 img-fluid rounded-4 " src="https://p8.storage.canalblog.com/83/02/467618/31300273.jpg" alt="...">
        <div class="col-8 d-flex flex-column justify-content-around">
          <h6 class="card-title text-center col-9 ps-1  fs-6"><%= dish.name %> x <%= order_dish.quantity %></h6>
          <div class="row add-delete px-3">
            <div class="col d-flex justify-content-evenly">
              <%= render "order_dishes/quantity_choice", order_dish: order_dish%>


              <div class="fw-bold fs-7"><%= dish.price_euro %></div>
            </div>
          </div>
        </div>
        <div class="col-1 position-btn-close d-flex-center">
          <%= link_to "", order_dish_path(order_dish.id), method: :delete, class:"btn-close p-00 fs-10"%>
        </div>
      </div>
    <% end %>
    <div class="offcanvas-body d-flex justify-content-center">
      <%= link_to("Voir mon panier", carts_path, class: "nav-link btn-primary text-light rounded-6 m-2 w-50") if current_user %>
    </div>
  </div>
 </div>




    <% if current_user.cook? %>
        <%= render "layouts/start_navbar" %>
    <% end %>
