<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasLeftLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">Menu Cook</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="nav_list">
      <div>
        <%= link_to cook_dishes_path do %>
          <i class="fas fa-sliders-h"></i>
          <span class="text-primary">Dashboard</span>
        <% end %>
      </div>
      <div>
        <%= link_to cook_path(current_user.cooks.first.id) do %>
          <i class="far fa-address-card"></i>
          <span class="text-primary">Profil</span>
        <% end %>
      </div>
      <div>
        <%= link_to '#', class: "nav_link" do %>
          <i class="fas fa-bell"></i>
          <span class="text-primary">Notifications</span>
        <% end %>
      </div>
      <div>
        <%= link_to cook_dishes_path do %>
          <i class="fas fa-utensils"></i>
          <span class="text-primary">Vos plats</span>
        <% end %>
      </div>
      <div>
        <%= link_to "#" do %>
          <i class="fas fa-file"></i> 
          <span class="text-primary">Commandes</span>
        <% end %>
      </div>
      <div class="d-md-none d-sm-block">
        <%= link_to root_path do %>
          <i class="fas fa-file"></i> 
          <span class="text-primary">Accueil</span>
        <% end %>
      </div>
      <div class="d-md-none d-sm-block">
        <%= link_to dishes_path do %>
          <i class="fas fa-file"></i> 
          <span class="text-primary">Les plats</span>
        <% end %>
      </div>
    </div>
  </div>
</div>